{% extends 'main.html' %}
{% load static %}
{% block content %}

     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form class="forms-sample" action="{% url 'add_userorder' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group row">
						<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Full Name</label>
						<div class="col-sm-9">
						  <input type="text" class="form-control" id="exampleInputUsername2" name="u_name"  placeholder="Enter your name" required>
						</div>
					  </div>
					  <div class="form-group row">
						<label for="exampleInputUsername2" class="col-sm-3 col-form-label">E-mail</label>
						<div class="col-sm-9">
						  <input type="email" class="form-control" id="exampleInputUsername2" name="email"  placeholder="Enter your email" required>
						</div>
					  </div>
					  <div class="form-group row">
						<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Number of items</label>
						<div class="col-sm-9">
						  <input type="text" class="form-control" id="exampleInputUsername2" name="items" value="{{order.get_cart_items}}" readonly required>
						</div>
					  </div>
					  <div class="form-group row">
						<label for="exampleInputEmail2" class="col-sm-3 col-form-label">Price</label>
						<div class="col-sm-9">
						  <input type="text" class="form-control" id="exampleInputUsername2" name="price" value="{{order.get_cart_total|floatformat:2}}" readonly required>
						</div>
					  </div>
					  <div class="form-group row">
						<label for="exampleInputEmail2" class="col-sm-3 col-form-label">Address</label>
						<div class="col-sm-9">
						  <textarea class="form-control" id="exampleTextarea1" rows="4" name="address" placeholder="address" required></textarea>
						</div>
					  </div>
						 
						  <div class="form-group row">
							<label for="exampleInputEmail2" class="col-sm-3 col-form-label">City</label>
							<div class="col-sm-9">
							  <input type="text" class="form-control" id="exampleInputUsername2" name="city" placeholder="Enter your city" required>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="exampleInputUsername2" class="col-sm-3 col-form-label">State</label>
							<div class="col-sm-9">
							  <input type="text" class="form-control" id="exampleInputUsername2" name="state" placeholder="Enter your state" required>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="exampleInputUsername2" class="col-sm-3 col-form-label">Pincode</label>
							<div class="col-sm-9">
							  <input type="text" class="form-control" id="exampleInputUsername2" name="pincode" placeholder="Enter pincode" required>
							</div>
						  </div>
						  
						  <center>
						  <button type="submit" class="btn btn-primary mr-2">Submit</button>
						  </center>
						</form>
			</div>		
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</div>

	<script src="https://www.paypal.com/sdk/js?client-id=YOUR-CLIENT-ID&currency=USD&disable-funding=credit"></script>



	<script type="text/javascript">
		var shipping = '{{order.shipping}}'

		if (shipping == 'False'){
		 	document.getElementById('shipping-info').innerHTML = ''
		}

		if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

		if (shipping == 'False' && user != 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })

		/*
	    document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })
	    */

	    function submit(){
	    	fetch(url, {
	    		method:'POST',
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),	
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'store' %}"

				})
	    }
	</script>
{% endblock content %}


 
