{% extends 'SuperAdmin_index.html'%} {% load static %} {% block content %}
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="ev2-img">
                    <img src="{% static 'img/liya.jpg.jpg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Keep your Car Newer</h1>
                    <p>
                        Electric cars (EVs) and plug-in hybrid vehicles are relatively new on the market and the fact that they use electricity to propel themselves means a new infrastructure has been put into place, one which few are familiar with.
                    </p>
                    <a class="btn btn-custom" href="">Explore More</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'img/ev9.jpg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Quality service for you</h1>
                    <p>
                        Morbi sagittis turpis id suscipit feugiat. Suspendisse eu augue urna. Morbi sagittis orci sodales
                    </p>
                    <a class="btn btn-custom" href="">Explore More</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="{% static 'img/ev6.jpg' %}" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3>Washing & Detailing</h3>
                    <h1>Exterior & Interior Washing</h1>
                    <p>
                        Sed ultrices, est eget feugiat accumsan, dui nibh egestas tortor, ut rhoncus nibh ligula euismod quam
                    </p>
                    <a class="btn btn-custom" href="">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}