{% extends 'SuperAdmin_index.html'%} {% load static %} {% block content %}
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section mt-3 mb-3"><span style="color: rgb(168, 168, 168);">Users details</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="table-wrap">
                    <table class="table text-center">
                      <thead class="thead-dark">
                        <tr>
                          <th>Full Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Pincode</th>
                          <th>District</th>
                          <th>State</th>
                          <th>Country</th>
                          <th>Designation</th>
                          <th>Action</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in usrs %}
                        <tr class="alert" role="alert">
                          <td scope="row">{{ i.fullname }}</td>
                          <td scope="row">{{ i.email }}</td>
                          <td scope="row">{{ i.mobile }}</td>
                          <td scope="row">{{ i.pincode }}</td>
                          <td scope="row">{{ i.district }}</td>
                          <td scope="row">{{ i.state }}</td>
                          <td scope="row">{{ i.country }}</td>
                          <td scope="row">{{ i.status }}</td>
                          <td ><a href="{% url 'SuperAdmin_change_desig' i.id %}" class="text-white btn btn-primary ">Change designation</a></td>
                          <td ><a href="{% url 'delete_user' i.id %}" class="text-white btn btn-primary " style="background-color: rgb(255, 61, 61);">Delete</a></td>
                        </tr>
                        {%endfor%}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{%endblock%}